<%page expression_filter="h"/>
<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query'),
      "${user_language | n, js_escaped_string}",
      "${user_timezone | n, js_escaped_string}"
    );
  </%static:require_module>
</%block>
% endif

<%block name="pagetitle">${_("Courses")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="find-courses">
      <!-- <div>${"Find new courses here"}</div> -->
      <section class="courses-container">
        % if course_discovery_enabled:
        
        <div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context" style="width: 23.5%; float: right; background: white;padding: 8px;">
          <form class="wrapper-search-input" style="width: 100%;">
            <label for="discovery-input" class="sr">${_('Search for a course')}</label>
            <input id="discovery-input" class="discovery-input" placeholder="${_('Search for a course')}" type="text"/>
            <button type="submit" class="button postfix discovery-submit" title="${_('Search')}">
              <span class="icon fa fa-search" aria-hidden="true"></span>
              <div aria-live="polite" aria-relevant="all">
                <div id="loading-indicator" class="loading-spinner hidden">
                  <span class="icon fa fa-spinner fa-spin" aria-hidden="true"></span>
                  <span class="sr">${_('Loading')}</span>
                </div>
              </div>
            </button>
          </form>
          <div id="discovery-message" class="search-status-label" style="width: 100%;text-align: center;"></div>  
          <aside aria-label="${_('Refine Your Search')}" class="search-facets phone-menu" style="width: 100%;box-shadow: none;">
            <h2 class="header-search-facets" style="background: #4ebce9;">${_('Refine Your Search')}</h2>
            <section class="search-facets-lists">
            </section>
          </aside>
        </div>
        
        % endif

        <div class="courses${'' if course_discovery_enabled else ' no-course-discovery'}" role="region" aria-label="${_('List of Courses')}" style="padding:0px 5px; box-shadow: 0px 2px 7px 0px;">
          % if course_discovery_enabled:
          <div id="filter-bar" class="filters hide-phone is-collapsed" style="background: white; margin: 0px;"></div>
          % endif
          <ul class="courses-listing courses-list">
            %for course in courses:
            <li class="courses-listing-item">
              <%include file="../course.html" args="course=course" />
            </li>
            %endfor
          </ul>
        </div>


        

      </section>
    </section>
</main>
