#content {
    padding: 0px;
    margin: 0px;
    margin-top: 76px;
    #main {
        min-height: 80vh;
        .login-register-content {
            background-image: url(../images/bk2017.jpg);
            background-repeat: no-repeat;
            margin: 0px;
            background-size: 100%;
            background-blend-mode: multiply;
            min-height: 500px;
            padding: 30px;
            .login-register {
                background-color: rgba(255, 255, 255, 0.75);
            }
        }
        .home {
            header {
                background-image: url(../images/bk2017.jpg);
                background-repeat: no-repeat;
                margin: 0px;
                background-size: 100%;
                background-position-y: -278px;
                background-blend-mode: multiply;
                .outer-wrapper {
                    padding-top: 80px !important;
                    padding-bottom: 80px !important;
                    .title {
                        background: rgba(255,255,255,0.8);

                        .course-search {
                            input {
                                background: rgba(255, 255, 255, 0.95);
                            }
                            .search-button {
                                border: none;
                                background: none;
                                .fa-search {
                                    color: $green;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}

form.wrapper-search-input, .search-field-wrapper {
    input {
        border: none!important;
        box-shadow: 1px 1px 3px 0px!important;
        // border-radius: 40px!important;
    }
    button{
        background: none!important;
        color: $green!important;
        border: none!important;
    }
}
.find-courses {
    background-color: white !important;
}
.filters-inner {
    border-top: none !important;
    border-bottom: 1px solid $green !important;
    ul {
        li.active-filter {
            background-color: $green_light !important;
        }
    }
}

.courses-container {

    .courses {
        float: none;
        width: 90%;
        margin: 0 auto;
    
        .course {
            border: none;
            box-shadow: 2px 2px 7px -1px;
        }
    }
}

#djDebug {
    #djDebugToolbarHandle {
        top: 85px;
        opacity: 1;
    }
}

.account-settings-tabpanels {
    box-shadow: 0px 0px 5px 0px!important;
}