.global-header {
    background: linear-gradient(to top, #fcfdff, #a9e1eb)!important;
    border-bottom: 3px solid $green;
    position: fixed;
    top: 0;
    z-index: 10000;
    .nav-links {
        .secondary {
            .btn {
                border-radius: 40px;
            } 

            a.sign-in-btn {
                border: none;
                &:hover {
                    border: 1px solid;
                }
            }
        }
    }

}
#user-menu {
    position: fixed;
    top: 75px;
    right: 50px;
    width: 200px;
    z-index: 100000;
    border: none;
    box-shadow: 0px 0px 5px 0px $green_light;
}