<%page expression_filter="h"/>

<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<h1>${Text(_(u"Welcome to {platform_name}")).format(platform_name=settings.PLATFORM_NAME)}</h1>
## Translators: 'Open edX' is a registered trademark, please keep this untranslated. See https://open.edx.org for more information.
<p>${Text(_("Study, Study more, Study forever!!!")).format(registered_trademark=HTML("<sup style='font-size: 65%'>&reg;</sup>"))}</p>
